.user {
    width: '30%';
    display: 'flex';
    align-items: 'center';
    flex-direction: 'column';
}

.user__div{
    padding: 1rem; 
    background-color: rgba(170, 214, 216, 0.556); 
    border-radius: 1rem; 
    margin: 0.5rem;
    width: 80%;
}

.user__div__div {
    display: flex; 
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 1rem;
}

.user__div__div__h3 {
    flex-grow: 1;
}

.user__div__div__div {
    margin: auto;
}

.user__div__div__div__img {
    width: 40px; 
    border-radius: 50%;
}