@import './components/card.css';
@import './components/a_button.css';
@import './components/input.css';
@import './components/form.css';
@import './auth/authCreate.css';

:root {
    --fontColor: rgb(138, 179, 220);
    --bg: rgb(165, 172, 179); 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #313131;
}

.nav {
    padding: 2rem; 
    color: white; 
    display: flex; 
    justify-content: space-between;
}

.nav__ul {
    display: flex; 
    justify-content: space-around; 
    width: 30%;
    list-style-type: none;
}

.nav__ul__li__a {
    text-decoration: none;
    color: white;
}

.nav__div {
    display: flex; 
    gap: 1rem;
}

.nav__div__a {
    text-decoration: none;
    color: white;
}

.mainNavigation {
    padding: 2rem;
    color: var(--fontColor);
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
