:root {
    --fontColor: rgb(138, 179, 220);
    --bg: rgb(165, 172, 179); 
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #313131;
}

.mainNavigation {
    padding: 2rem;
    color: var(--fontColor);
}

.mainContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    padding: 1rem; 
    background-color: rgba(170, 214, 216, 0.556); 
    border-radius: 1rem; 
    margin: 0.5rem;
}

.card--box {
    width: 50%;
}

.card--box--user {
    display: flex; 
    align-items: center; 
    margin-bottom: 1rem;
}

.card--box--user h3 {
    flex-grow: 1;
}

.card--box--wrapper {
    margin: auto;
}

.card--box--wrapper--img {
    width: 40px; 
    border-radius: 50%;
}